body {
  background-color: hsl(225, 100%, 94%);
  margin: 0;
  display: grid;
  place-items: center;
}

.background {
  width: 100%;
  height: 350px;
}

.card {
  position: relative;
  height: 565px;
  width: 350px;
  background-color: white;
  transform: translateY(-250px);
  border-radius: 20px;
}

.illustration {
  width: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  position: relative;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 18px;

  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size: 23px;
  color: hsl(223, 47%, 23%);
}

.description {
  width: 70%;
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 13px;
  line-height: 1.25rem;

  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.receipt {
  position: relative;
  background-color: hsl(225, 100%, 98%);
  width: 80%;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.music {
  position: relative;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
}

.plan-type {
  width: 80px;
  position: relative;
  bottom: 37px;
  left: 75px;

  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 13.5px;
}

.price {
  width: 80px;
  position: relative;
  bottom: 47px;
  left: 75px;

  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  font-size: 12px;
}

.change {
  width: 50px;
  text-align: center;
  position: relative;
  bottom: 85px;
  left: 215px;

  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  font-size: 11px;
  text-decoration: underline;
}

.change:hover {
  text-decoration: none;
  color: #8c7efc;
  cursor: pointer;
}

.btn {
  position: relative;
  left: 10%;
  top: 35px;
  text-align: center;

  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 10px hsl(225, 100%, 94%);
  -moz-box-shadow: 0px 15px 10px hsl(225, 100%, 94%);
  box-shadow: 0px 15px 10px hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  color: hsl(225, 100%, 94%);
  font-size: 12px;
  font-weight: 900;
  background: hsl(245, 75%, 52%);
  padding: 10px 77px 10px 77px;
  text-decoration: none;

}

.btn:hover {
  background: #8c7efc;
  text-decoration: none;
}

.cancel {
  position: relative;
  text-align: center;
  top: 55px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
  font-size: 12px;
}

.cancel:hover {
  color: black;
  cursor: pointer;
}
